<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>220585435352-6rs34650r35gm2m5i9a7n1rpl4t6jkog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.220585435352-6rs34650r35gm2m5i9a7n1rpl4t6jkog</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>220585435352-g39mgvjqu4mms2r16tba2kofn4iqb286.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsNXj3h-ZNyDJI4SbwghgsfCCnzYN7sUA</string>
	<key>GCM_SENDER_ID</key>
	<string>220585435352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.roam.reality</string>
	<key>PROJECT_ID</key>
	<string>roam-reality</string>
	<key>STORAGE_BUCKET</key>
	<string>roam-reality.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:220585435352:ios:45edc7af9affb9fa6f37ad</string>
</dict>
</plist>