<p>
    Hello,<br><br>

    You have been invited to experience Roam Reality—the Caribbean’s first Augmented Reality travel app! 🌍✨<br><br>

    🔹 Snap, share & earn points for your outdoor adventures<br>
    🔹 Unlock exclusive AR experiences at events & tourist sites<br>
    🔹 Climb the leaderboard & win prizes!<br><br>

    Join the fun now! Download Roam Reality and start exploring:<br><br>

    📲 <a href="https://apps.apple.com/py/app/roam-reality/id6477857812?l=en-GB">App Store</a><br>
    📲 <a href="https://play.google.com/store/apps/details?id=com.roam_reality">Google Play</a><br><br>

    See you in a new dimension!
</p>

<p>Regards,</p>
<p>Travel AR Team</p>